[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
jupyter_contrib_nbextensions = "*"
jupyter-nbrequirements = "*"
thoth-report-processing = "*"
plotly = "*"
matplotlib = "*"
kaleido = "*"
jupyterlab = "*"
pandas = "*"
async_timeout = "*"
typing-extensions = "*"
parver = "*"
graphviz = "*"
pandas-profiling = "*"

[dev-packages]
black = "*"
isort = "*"
flake8 = "*"
pylint = "*"
black-nb = "*"
pre-commit = "*"
check-manifest = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
